:root {
  --body-background-color: rgba(230,255,251,.4);
  --body-width: 100vw;

  --primary-color: 20,240,214;

  --font-color-heading: rgba(var(--primary-color),.8);
  --font-color-text: rgba(var(--secondary-color),1);

  --background-primary: rgba(var(--primary-color),.1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  background-color: var(--background-primary);
  width: var(--body-width);
  height: auto;
}
