.is-winter-checked:checked ~ .layout-main-content {
  filter: blur(2px);
  transition: all 1s ease;
}
.is-spring-checked:checked ~ .layout-main-content {
  filter: brightness(200%);
  transition: all 1s ease;
}
.is-summer-checked:checked ~ .layout-main-content {
  filter: saturate(8);
  transition: all 1s ease;
}
.is-autumn-checked:checked ~ .layout-main-content {
  filter: grayscale(100%);
  transition: all 1s ease;
}

.is-weather-toggle-hover {
  transition: all 1s ease;
}
.is-weather-toggle-hover:hover {
  background-color: rgba(var(--primary-color),.6);
  transform: scale(1.02);
}

.is-item-hover:hover {
  flex-grow: 1.2;
  height: auto;
  width: 300px;
  transition: all 1s ease;
  background-color: rgba(var(--primary-color),.5);
}
.is-item-checked + label {
  transition: 1s;
  background-color: rgba(var(--primary-color),.1);
}
.is-item-checked:checked + label {
  flex-grow: .2;
  filter:none;
  transition: all 1s ease;
  background-color: rgba(var(--primary-color),.5);
  animation: rotate-checked 2s forwards;
}
.is-item-checked:checked + label:hover {
  background-color: rgba(var(--primary-color),.4);
}
.is-item-checked + label:focus {
  flex-grow: 1.2;
  background-color: rgba(var(--primary-color),.4);

}

@keyframes rotate-checked {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateY(-5vh);
  }
}
@keyframes shaking-checked {
  0% {
    transform: translateX(10vw);
  }
  25% {
    transform: translateX(-10vw);
  }
  50% {
    transform: translateX(10vw);
  }
  75% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0vw);
    height: 10vh;
  }
}


@media screen and (max-width: 992px) {
  .is-item-checked:checked + label {
    animation: shaking-checked 2s forwards;
  }
}
