:root {
    --speed-fastest: 3s;
    --speed-faster: 4s;
    --speed-fast: 5s;
    --speed-normal: 6s;
    --speed-slow: 7s;
    --speed-slower: 8s;
    --speed-slowest: 9s;
}


body {
    height: auto;
}



.moment {
    display: block;
    width: 100vw;
    height: 100vh;
}



/* Matrix-section */
#matrix-section {
    z-index: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: hidden;
    background-color: black;
    font-size: 1.5rem;
    position: relative;
}
#matrix-title {
    padding: 1rem;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 2rem;
    height: 2rem;
    background-color: black;
    top: 0;
    color: rgb(4,248,62);
}
.raindrop {
    display: block;
    width: 2rem;
    height: 2rem;
}
.raindrop > span {
    text-align: center;
    color: rgb(4,248,62);
}

.col {
    display: block;
    position: absolute;
    height: 100%;
}
#col-1 {
    animation: matrix-rain var(--speed-slowest) linear infinite;
    left: 20%;
}
#col-1:hover::before {
    content: "€8,- | Potato, carmelized onion, mustard";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
}
#col-2 {
    animation: matrix-rain var(--speed-fast) linear infinite;
    left: 34%;
}
#col-2:hover::before {
    content: "€13,- | Kippered baked Salmon &amp; Scottish smoked salmon spread, waffle-cut potato chips";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}
#col-3 {
    animation: matrix-rain var(--speed-normal) linear infinite;
    left: 40%;
}
#col-3:hover::before {
    content: "€13,- | Salmon roe and creme fraiche";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}
#col-4 {
    animation: matrix-rain var(--speed-slow) linear infinite;
    left: 42%;
}
#col-4:hover::before {
    content: "€6,- |Buckwheat, caramelized onion, bowtie egg noodles";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}
#col-5 {
    animation: matrix-rain var(--speed-faster) linear infinite;
    left: 60%;
}
#col-5:hover::before {
    content: "€9,- | Matzo, pickled red onion";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}
#col-6 {
    animation: matrix-rain var(--speed-fastest) linear infinite;
    left: 63%;
}
#col-6:hover::before {
    content: "€10,- | Whitefish & baked salmon salad, wasabi-infused fish roe, horseradish dill cream cheese, bagel toast";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}
#col-7 {
    animation: matrix-rain var(--speed-slower) linear infinite;
    left: 80%;
}
#col-7:hover::before {
    content: "€12,- | Pastrami-cured salmon, muenster cheese, sauerkraut, mustard, pickle, pretzel roll";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}
#col-8 {
    animation: matrix-rain var(--speed-slower) linear infinite;
    left: 10%;
}
#col-8:hover::before {
    content: "€7,- | Pickled vegetables, pickles from the barrel";
    color: black;
    background-color: rgb(4,248,62);
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}



.col-1-raindrop:nth-child(1) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-1-raindrop:nth-child(2) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-1-raindrop:nth-child(3) {
    animation: shaking var(--speed-slow) linear infinite;
}
.col-1-raindrop:nth-child(4) {
    animation: shaking var(--speed-fastest) linear infinite;
}
.col-1-raindrop:nth-child(5) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-1-raindrop:nth-child(6) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-1-raindrop:nth-child(7) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-1-raindrop:nth-child(8) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-1-raindrop:nth-child(9) {
}
.col-1-raindrop:nth-child(10) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-1-raindrop:nth-child(11) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-1-raindrop:nth-child(12) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-1-raindrop:nth-child(13) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-1-raindrop:nth-child(14) {
    animation: shaking var(--speed-slower) linear infinite;
}
.col-1-raindrop:nth-child(15) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-1-raindrop:nth-child(16) {
}
.col-1-raindrop:nth-child(17) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-1-raindrop:nth-child(18) {
    animation: shaking var(--speed-faster) linear infinite;
}
.col-1-raindrop:nth-child(19) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-1-raindrop:nth-child(20) {
    animation: shaking var(--speed-slow) linear infinite;
}


.col-2-raindrop:nth-child(1) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-2-raindrop:nth-child(2) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-2-raindrop:nth-child(3) {
    animation: shaking var(--speed-slow) linear infinite;
}
.col-2-raindrop:nth-child(4) {
    animation: shaking var(--speed-fastest) linear infinite;
}
.col-2-raindrop:nth-child(5) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-2-raindrop:nth-child(6) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-2-raindrop:nth-child(7) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-2-raindrop:nth-child(8) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-2-raindrop:nth-child(9) {
}
.col-2-raindrop:nth-child(10) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-2-raindrop:nth-child(11) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-2-raindrop:nth-child(12) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-2-raindrop:nth-child(13) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-2-raindrop:nth-child(14) {
    animation: shaking var(--speed-slower) linear infinite;
}
.col-2-raindrop:nth-child(15) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-2-raindrop:nth-child(16) {
}
.col-2-raindrop:nth-child(17) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-2-raindrop:nth-child(18) {
    animation: shaking var(--speed-faster) linear infinite;
}
.col-2-raindrop:nth-child(19) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-2-raindrop:nth-child(20) {
    animation: shaking var(--speed-slow) linear infinite;
}

.col-3-raindrop:nth-child(1) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-3-raindrop:nth-child(2) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-3-raindrop:nth-child(3) {
    animation: shaking var(--speed-slow) linear infinite;
}
.col-3-raindrop:nth-child(4) {
    animation: shaking var(--speed-fastest) linear infinite;
}
.col-3-raindrop:nth-child(5) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-3-raindrop:nth-child(6) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-3-raindrop:nth-child(7) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-3-raindrop:nth-child(8) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-3-raindrop:nth-child(9) {
}
.col-3-raindrop:nth-child(10) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-3-raindrop:nth-child(11) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-3-raindrop:nth-child(12) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-3-raindrop:nth-child(13) {
    animation: shaking var(--speed-fast) linear infinite;
}
.col-3-raindrop:nth-child(14) {
    animation: shaking var(--speed-slower) linear infinite;
}
.col-3-raindrop:nth-child(15) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-3-raindrop:nth-child(16) {
}
.col-3-raindrop:nth-child(17) {
    animation: shaking var(--speed-slowest) linear infinite;
}
.col-3-raindrop:nth-child(18) {
    animation: shaking var(--speed-faster) linear infinite;
}
.col-3-raindrop:nth-child(19) {
    animation: shaking var(--speed-normal) linear infinite;
}
.col-3-raindrop:nth-child(20) {
    animation: shaking var(--speed-slow) linear infinite;
}



/* Star wars */
#star-wars-section {
    z-index: 100;
    background-color: black;
    font-family: 'Pathway Gothic One', sans-serif;
    position: relative;
    display: block;
    overflow: hidden;
}
#star-wars-title {
    position: absolute;
    top: 0;
    color: orange;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    background-color: black;
}

#star-wars-text {
    color: orange;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(25deg);
    animation: scroll 30s linear infinite;
}
#star-wars-text > .star-wars-dishes {
    text-align: center;
    display: block;
    border-bottom: 3px solid orange;
}
#star-wars-text > .star-wars-dishes > .dish-name{
    display: block;
}
#star-wars-text > .star-wars-dishes > .dish-ingredients{
    display: block;
}
#star-wars-text > .star-wars-dishes > .dish-price{
    display: block;
}



@keyframes scroll {
    0% { 
        top: 100%; 
    }
    19% { 
        top: 2%; 
    }
    40% { 
        top: 0%; 
        transform: perspective(0) rotateX(25deg);
    }
    60% {
        top: 0%;
        transform: translateX(0);
        transform: perspective(500px) rotateX(25deg);
    }
	100% { 
        top: -180%; 
    } 
}   


/* Animations */

@keyframes matrix-rain {
    0% {
        top: -10%;
    }
    100% {
        top: 110%;
    }
}

@keyframes shaking {
    0% {
        transform: translateX(0)
    }
    20% {
        transform: translateX(3rem)
    }
    30% {
        transform: translateX(-5rem)
    }
    35% {
        transform: translateX(1rem)
    }
    40% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-2rem)
    }
    60% {
        transform: translateX(0)
    }
    70% {
        transform: translateX(-5rem)
    }
    75% {
        transform: translateX(-3rem)
    }
    80% {
        transform: translateX(-5rem)
    }
    90% {
        transform: translateX(2rem)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes rotate {
    0% {
        transform: rotate3d(1, 2, 1, 45deg);
    }
    5% {
        transform: rotate3d(3, 4, -1, 20deg);

    }
    10% {
        transform: rotate3d(2, 1, -6, -20deg);

    }
    15% {
        transform: rotate3d(1, -1, 4, -50deg);

    }
    20% {
        transform: rotate3d(8, -1, -1, 20deg);
        
    }
    25% {
        transform: rotate3d(3, -1, -1, 20deg);

    }
    30% {
        transform: rotate3d(7, -1, -1, 20deg);
        
    }
    35% {
        transform: rotate3d(8, -1, -1, 20deg);

    }
    40% {
        transform: rotate3d(-1, -1, -1, 20deg);
        
    }
    45% {
        transform: rotate3d(2, -1, -1, 20deg);

    }
    50% {
        transform: rotate3d(2, -1, -1, 20deg);
        
    }
    55% {
        transform: rotate3d(2, -1, -1, 20deg);

    }
    60% {
        transform: rotate3d(2, -1, -1, 20deg);
        
    }
    75% {
        transform: rotate3d(2, -1, -1, 20deg);

    }
    80% {
        transform: rotate3d(2, -1, -1, 20deg);
        
    }
    85% {
        transform: rotate3d(2, -1, -1, 20deg);
        
    }
    90% {
        transform: rotate3d(2, -1, -1, 20deg);
        
    }
    95% {
        transform: rotate3d(2, -1, -1, 20deg);
        
    }
    100% {
        transform: rotate3d(2, -1, -1, 20deg);
    }
}